/PubChem
/torch_wheel
/data
/checkpoints
/figs
/outs
/plot_scripts/violin_data
/plot_scripts/pearson_data
/papers
/legacy
/ablation
/ablation_checkpoints
/results
/ablation_checkpoints_2
/checkpoints_origin_backup
/checkpoints_no_decor_loss
/outputs
/result_files
/result_files_origin_backup
/plots/figs_data
/plots/save_figs
/plots/SI_figs
